.admin-pictures-of-the-day-edit{ data: { testid: "admin-pictures-of-the-day-edit" } }
  %h1.mb-4{ data: { testid: "edit-picture-heading" } }= t("admin.pictures_of_the_day.edit.title")

  .card
    .card-body
      = render "form"
