.admin-pictures-of-the-day-new{ data: { testid: "admin-pictures-of-the-day-new" } }
  %h1.mb-4{ data: { testid: "new-picture-heading" } }= t("admin.pictures_of_the_day.new.title")

  .card
    .card-body
      = render "form"
