.admin-techniques-edit{ data: { testid: "admin-techniques-edit" } }
  .d-flex.justify-content-between.align-items-center.mb-4
    %h1= t("admin.techniques.edit.title")

  .card
    .card-body
      = render "form"
