.admin-media-item-edit{ data: { testid: "admin-media-item-edit" } }
  .d-flex.justify-content-between.align-items-center.mb-4
    %h1= t("admin.media_items.edit.title")

  .card
    .card-body
      = render "form"
