.admin-media-item-new{ data: { testid: "admin-media-item-new" } }
  .d-flex.justify-content-between.align-items-center.mb-4
    %h1= t("admin.media_items.new.title")

  .card
    .card-body
      = render "form"
