.admin-collection-categories-new{ data: { testid: "admin-collection-categories-new" } }
  .d-flex.justify-content-between.align-items-center.mb-4
    %h1= t("admin.collection_categories.new.title")

  .card
    .card-body
      = render "form"
