.admin-collections-edit{ data: { testid: "admin-collections-edit" } }
  .d-flex.justify-content-between.align-items-center.mb-4
    %h1= t("admin.collections.edit.title")

  .card
    .card-body
      = render "form"
