.admin-collections-new{ data: { testid: "admin-collections-new" } }
  .d-flex.justify-content-between.align-items-center.mb-4
    %h1= t("admin.collections.new.title")

  .card
    .card-body
      = render "form"
